
@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubTitle = "";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <h4>Dashboard</h4>
                </div>
            </div>
        </div>
    </div>
</div>

